# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/BhojMandu.iml
.idea/codeStyles/
.idea/dbnavigator.xml
.idea/jsLibraryMappings.xml
.idea/modules.xml
.idea/runConfigurations/
.idea/vcs.xml

node_modules/
.idea
/node_modules
